/* padding-left: 20px;  スペースをあける*/
.title{ 
    color: rgba(255, 0, 0, 0.671);
    font-size: 30px;
    padding: 10px;
    border-left :solid 5px orange;
    border-bottom: solid 1px gray;
}
.text{ 
    color: #000000;
    font-size: 15px;
    font-weight: bold
}
.text_normal{ 
    color: #000000;
    font-size: 15px;
    line-height: 1.5;
    padding-left: 30px;
}
.input_normal{ 
    color: #000000;
    font-size: 15px;
    line-height: 1.5;
}
.select_normal{ 
    color: #000000;
    font-size: 15px;
    line-height: 1.5;
}
body {
    background-color: #eeff001d;
}
  
